* {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.obol {
	position: sticky;
}

.logo1{
	padding-top: 2vh;
	width: 25vh;
}

.navbar{
	display: flex;
	align-items: center;
	position: relative;
}

#navtext{
	position: absolute;
	display: flex;
	flex-direction: row;
	right: 0;
}

.login{
	border: 2.5px solid #0087D2;
	padding: 5px 20px;
	border-radius: 40px;
	text-decoration: none;
	color: black;
	font-size: 3.2vh;
	font-weight: 500;
	margin-right: 1vh;
}

.text{
	color: rgb(0, 0, 0);
	font-size: 4vh;
	text-decoration: none;
	margin: 0 30px;
}

p{
	color: #ccc7c7de;
	font-size: 2vh;
}

.text1{
	text-align: right;
	padding-top: 2vh;
	margin-right: 28vh;
}

.text2{
	text-align: right;
	margin-right: 31vh;
}

.main{
	background: url(./img/back1.png);
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;  
	height: 90vh;
}

#zag{
	font-weight: bold;
	text-align: right;
	margin-right: 20vh;
	padding-top: 31vh;
	font-size: 7vh;
	color: rgb(255, 255, 255);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-zag{
	box-shadow: #f7f3f3;
}

body{
	background-color: white;
}

#back{
	background-image: url("back 1.png");
	height: auto;
	width: auto;
	display: block;
}

.main-button{
	text-align: right;
	padding-top: 5vh;
	padding-right: 62vh;
}

.button{
	position: absolute;
	border: 3px solid #fff;
	padding: 10px 60px;
	color: #fff;
	font-size: 26px;
	border-radius: 50px;
	font-weight: bold;
	text-decoration: none;
}

.product-text{
	color: #005987;
	padding-top: 49vh;
	text-align: center;
	font-size: 56px;
}

.product-pic{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 4vh;
}

.product {
	margin: 0;
	padding: 0;
}

.usluga{
	font-size: 40px;
	color: #005987;
	text-align: center;
	margin-top: 12vh;
}

.text-uslug1{
	text-align: left;
	padding-top: 3vh;
	padding-left: 5vh;
}

.text-a{
	font-size: 26px;
	color: #005987;
	margin-top: 5vh;
	font-weight: bold;
}

.text-b{
	font-size: 26px;
	color: #005987;
	margin-top: 5vh;
	font-weight: bold;
	margin-left: 140vh;
	text-align: center;
}

.target{
	font-size: 40px;
	color: #005987;
	text-align: center;
	margin-top: 13vh;
}

.target-pic{
	display: flex;
	justify-content: center;
}

.pics{
	margin-top: 7vh;
	margin-left: 13vh;
}

.target-text{
	font-size: 26px;
	color: #005987;
	font-weight: bold;
	padding-top: 7vh;
	text-align: center;
}

.pics img{
	margin-left: 3vh;
}

.price-background{
	padding-bottom: 7vh;
	background-color: #020940;
}

.price-title{
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	padding-top: 8vh;
	margin-top: 12vh;
}

.price-blocks{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	margin-top: 5vh;
	margin-left: 31vh;
	margin-right: 31vh;
}

.price-month{
	margin-top: 3vh;
	font-size: 30px;
	color: #fff;
}

.price-size{
	margin-top: 5vh;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

.price-size1{
	margin-top: 5vh;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}

.price-cost{
	margin-top: 8vh;
	margin-right: 2vh;
	font-size: 30px;
	text-align: center;
}

.month{
	font-size: 30px;
	color: rgb(50, 117, 241);
}

.users{
	margin-top: 4vh;
	font-size: 30px;
}

.individual{
	margin-left: 3vh;
	font-size: 28px;
}

.price-block1{
	text-align: center;
	width: 25vh;
	height: 40vh;
	text-align: center;
	border: 8px solid #fff;
	padding: 10px 60px;
	border-radius: 10px;
}

.price-block2{
	text-align: center;
	width: 25vh;
	height: 40vh;
	text-align: center;
	border: 8px solid #fff;
	padding: 10px 60px;
	border-radius: 10px;
}

.price-block3{
	text-align: center;
	width: 25vh;
	height: 40vh;
	text-align: center;
	border: 8px solid #fff;
	padding: 10px 60px;
	border-radius: 10px;
}

.contact{
	font-size: 40px;
	color: #005987;
	text-align: center;
	margin-top: 13vh;
}

.mail-background{
	background-color: rgb(17, 25, 94);
}

.number{
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding-top: 7vh;
}

.mail{
	text-align: center;
	font-size: 30px;
	color: #fff;
}

.adress{
	text-align: center;
	font-size: 30px;
	color: #fff;
	padding-top: 7vh;
	font-weight: lighter;
}

.instagram{
	padding: 6vh;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

html{
	scroll-behavior: smooth;
}

.cont-zag{
	font-size: 40px;
	color: #005987;
	text-align: center;
	font-weight: bold;
	margin-top: 10vh;
	margin: 2vh;
}

.cont-text{
	font-size: 30px;
	text-align: center;
	color: black;
	font-weight: lighter;
	margin-top: 10vh;
	margin: 2vh;
}

.main1{
	background-color: #fff;
	text-align: center;
	margin: 5vh;
}

.required{
	font-size: 25px;
	margin: 2vh;
}

.input{
    width: 12%;
    height: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #0087D2;
}

.sub{
	margin-top: 2vh;
	font-size: 3vh;
	color: #fff;
	background-color: #005987;
	padding: 1vh;
	border-radius: 10px;
	border: #fff solid 1px;
}